@import 'breakpoints';

$margin-small: 1rem;
$margin-large: 3rem;

@mixin fade-in-on-load( $cls: '' ) {
    
    #{$cls} & {
    
        opacity: 0;
        transition: opacity 2.5s 1s;
    
    }
    
    #{$cls}.loaded & {
        opacity: 1;
    }
    
}

* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

a, a:visited {
    color: inherit;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    
    @include tablet {
        font-size: 16px;
    }
    
    @include desktop {
        font-size: 18px;
    }
    
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    .questions & {
        cursor: grab;
        &.dragging {
            cursor: grabbing;
        }
    }
    
}

.sliders {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 10;
    input {
        width: 100%;
    }
    display: none;
    @media screen and (min-width: 768px) {
        display:block;
    }
}

.shuffle {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.title {
    position: fixed;
    top: $margin-small * 2;
    left: $margin-small;
    right: $margin-small;
    bottom: $margin-small * 8;
    background-image: url(assets/title.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    @include fade-in-on-load;
    
    @include tablet {
        top: $margin-large;
        left: $margin-large * 2;
        right: $margin-large * 2;
        bottom: $margin-large * 6;
    }
    
}

.logos {
    position: fixed;
    height: $margin-small;
    bottom: $margin-small;
    left: 50%;
    transform: translateX(-50%);
    
    @include fade-in-on-load;
    
    @include tablet {
        bottom: $margin-large;
        height: $margin-large * .75;
    }
    
}

.question {
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    top: $margin-small;
    font-size: 1.5em;
    @include tablet {
        top: $margin-large;
        font-size: 2em;
    }

}

.answer {

    position: fixed;
    opacity: 0;
    top: 50%;
    text-align: center;
    font-size: 200px;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    &_left {
        left: 20%;
    }
    
    &_right {
        left: 80%;
    }
  
}

.buttons {
    position: fixed;
    bottom: $margin-small;
    left: 50%;
    z-index: 10;
    bottom: $margin-small;
    font-size: 1.5em;
    
    @include tablet {
        bottom: $margin-large;
        font-size: 2em;
    }
    
    .questions & {
        opacity: 0;
    }
    
    @include fade-in-on-load('.home');
    
    .home & {
        
        bottom: $margin-small * 3;
        
        @include tablet {
            bottom: $margin-large * 3;
        }
        
    }

}

.drag-helper {
    position: absolute;
    bottom: .25em;
    display: inline-block;
    width: auto;
    transform: translate(-50%, 0);
    pointer-events: none;
    @keyframes drag-hint {
        from {
            transform: translate(-150%, 0);
        }
        to {
            transform: translate(50%, 0);
        }
    }
    animation: drag-hint 2s ease-in-out infinite alternate;
    
    .has-dragged & {
        transition: opacity .5s;
        opacity: 0;
    }
}

.button {
    padding: .25em .5em;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    
    .questions & {
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s .5s;
    }
    
    .questions .has-dragged & {
        opacity: 1;
        pointer-events: visible;
    }
    
    &_questions {
        right: 10vw;
    }
    
    &_exhibition {
        left: 10vw;
    }
    
    &_skip {
        right: 1em;
        
        .no-skip & {
            display: none;
        }
        
    }
    
    &_confirm {
        left: 1em;
        
        .no-skip & {
            left: 0;
            transform: translate(-50%);
        }
        
    }
    
    a {
        text-decoration: none;
    }
    
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .loaded & {
        display: none;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    line-height: 1.5;
    opacity: 0;
    transition: opacity .5s;
    
    &.visible {
        opacity: 1;
    }
    
    &__inner {
        
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
        max-width: 500px;
        
        @include desktop {
            max-width: 600px;
        }
        
    }
    
    .warning {
        color: #aaa;
    }
    
    a {
        display: inline-block;
        margin: 0 1em 1em 0;
        text-decoration: none;
        cursor: pointer;
        padding: .25em .5em;
        border: 1px solid black;
    }
    
}

.landscape-prompt {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: black;
    color: white;
    z-index: 9999;
    
    span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        text-align: center;
        animation: turn 3s ease-in-out infinite;
        
        @keyframes turn {
            
            0% {
                transform: rotate(0deg);
                opacity: 0;
            }
            10%{
                transform: rotate(0deg);
                opacity: 1;
            }
            66%{
                transform: rotate(-90deg);
            }
            80%{
                opacity: 1;
            }
            90% {
                opacity: 0;
            }
            100% {
                transform: rotate(-90deg);
                opacity: 0;
            }
            
        }
        
    }
    
    @media screen and ( max-width: 768px ) and ( orientation: portrait ) {
        
        display: block;
        
    }
    
}