body {

    font-family: Helvetica;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    
    &.home,
    &.questions,
    &.sandbox,
    &.single {
        overflow: hidden;
    }
    
    &.archive {
        background: black;
    }
    
    @include tablet {
        font-size: 16px;
    }
    
    @include desktop {
        font-size: 18px;
    }
    
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .loaded & {
        display: none;
    }
}

.landscape-prompt {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: black;
    color: white;
    z-index: 9999;
    
    span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        text-align: center;
        animation: turn 3s ease-in-out infinite;
        
        @keyframes turn {
            
            0% {
                transform: rotate(0deg);
                opacity: 0;
            }
            10%{
                transform: rotate(0deg);
                opacity: 1;
            }
            66%{
                transform: rotate(90deg);
            }
            80%{
                opacity: 1;
            }
            90% {
                opacity: 0;
            }
            100% {
                transform: rotate(90deg);
                opacity: 0;
            }
            
        }
        
    }
    
    @media screen and ( max-width: 768px ) and ( orientation: portrait ) {
        
        display: block;
        
    }
    
}