* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

a, a:visited {
    color: inherit;
}

body, html {
    width: 100%;
    height: 100%;
}